.header {
    position: fixed;
    top: 0;
    left: -50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(3, 3, 118);
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    padding: 25px 50px;
}